# DEST=書き出し先を指定
DEST=../public_html/

# ASSET_PATH=commonとかassetsとかのディレクトリ名。スラッシュ不要
ASSET_PATH=assets

# SUB_DIRECTORY=サブディレクトリが有る場合指定。最初に/は要らない。
# 例:public_html/lp/の場合はlp/。lp/01/なども可
SUB_DIRECTORY=landing/

# IS_RELATIVE=相対パスで処理したい場合true
IS_RELATIVE=false

# ENABLE_WEBP=trueだとwebP生成に対応する。
# 画像は_mixin.pugの +img か +picで使用。
# 一応そういう機能あるだけで平常はpng/jpgの方が何かとシンプルで良いため、optionalです。
ENABLE_WEBP=false

# IS_SRI=SRIに対応する場合
IS_SRI=false
