@charset "utf-8";
@import '../../_config/_media.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.section {
  padding-block: pw(100);
  &.-sec02 {
    position: relative;
    background: var(--color_04);
    height: 100vh;
    z-index: 2;
  }
  &__heading {
    margin-block-end: pw(30);
  }
  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: pw(100);
  }
}
.mv {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2%;
  background: var(--color_03);
  transition: transform 0.05s linear;
  will-change: transform;
  &__wrapper {
    position: relative;
    width: 100%;
    /* background: #fff;
    border-radius: pw(46) pw(46) pw(46) pw(46); */
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: pw(46) pw(46) pw(46) pw(46);
    background-color: #fff;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/common/mv-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.27;
      z-index: 1;
    }
  }
  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    &__inner {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 50%;

      .mv__item1 & {
        width: pw(234);
        height: pw(329);
        top: calc((200 / 858 * 100) * var(--vh));
        left: pw(507);
      }
      .mv__item2 & {
        width: pw(387);
        height: pw(374);
        top: calc((200 / 858 * 100) * var(--vh));
        left: pw(118);
      }
      .mv__item3 & {
        width: pw(122);
        height: pw(509);
        top: calc((163 / 858 * 100) * var(--vh));
        right: pw(473);
      }
      .mv__item4 & {
        width: pw(216);
        height: pw(481);
        top: calc((-48 / 858 * 100) * var(--vh));
        right: pw(228);
      }
    }
    &__text {
      position: absolute;
      left: 0;
      bottom: pw(50);
      right: 0;
      margin-inline: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      z-index: 2;

      &__inner {
        font-family: var(--fontOpen);
        font-size: rem(30);
        line-height: 1.8;
        font-weight: 400;
        letter-spacing: 0.35em;
        text-align: center;
        color: #666562;
        /* will-change: clip-path; */
        transition: transform 0.05s linear;
      }
    }
  }
  &__mask01 {
    position: absolute;
    top: pw(304);
    right: pw(338);
    width: pw(500);
    height: pw(368);
    z-index: 2;
  }
  &__mask02 {
    position: absolute;
    top: pw(304);
    left: pw(338);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.b-heath {
  width: 60%;
}
.b-vision {
  position: sticky;
  left: 0;
  top: 0;
  width: 60%;
  margin-inline-start: auto;
}
