@keyframes trigger {
  0% {
    background: currentColor;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes triggerAt {
  0% {
    background: transparent;
  }
  50% {
    background: currentColor;
  }
  100% {
    background: currentColor;
  }
}
@keyframes trigger01 {
  0% {
    top: vw(-18);
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
@keyframes trigger01At {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: vw(-18);
    transform: rotate(0);
  }
}
@keyframes trigger02 {
  0% {
    bottom: vw(-18);
    transform: rotate(0);
  }
  50% {
    bottom: 0;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(45deg);
  }
}
@keyframes trigger02At {
  0% {
    bottom: 0;
    transform: rotate(45deg);
  }
  50% {
    bottom: 0;
    transform: rotate(0);
  }
  100% {
    bottom: vw(-18);
    transform: rotate(0);
  }
}

/* animation: scroll 2s ease infinite; */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 50%;
    transform: rotate(0);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
@keyframes topBack {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 50%;
    transform: rotate(0);
  }
  100% {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}
@keyframes bottomBack {
  0% {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
  50% {
    bottom: 50%;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes rotate-in-down-left {
  0% {
    transform-origin: left bottom;
    transform: rotate(45deg);
    clip-path: inset(0% 0% 100% 0%);
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    clip-path: inset(0% 0% 0% 0%);
  }
}
@keyframes scaleX {
  0% {
    transform: scaleX(-1);
  }
  20% {
    transform: scaleX(1);
  }
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--moveY-distance, 100px));
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--moveX-distance, 100px));
  }
  100% {
    transform: translateX(0);
  }
}
