html {
  font-size: 10px;
}

body,
button,
td,
th,
input,
select,
textarea {
  font-family: var(--fontDefault);
  font-weight: 400;
  color: var(--color_text);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
nav,
figure,
main,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  word-break: break-word;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

main,
picture,
figure {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  image-rendering: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

input[type='text'] {
  word-break: keep-all;
  &::-ms-clear {
    display: none;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

button {
  padding: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

iframe {
  display: block;
  border: none;
}

ruby {
  rt {
    text-align: center;
  }
}

* {
  box-sizing: border-box;
  :after,
  :before {
    box-sizing: border-box;
  }
}
