.intersect-elem {
  opacity: 0;
  transition: opacity 1s ease-out;
  &.active {
    opacity: 1;
  }
}

@media (--pc) {
  body,
  button,
  td,
  th,
  input,
  select,
  textarea {
    font-size: rem(16);
    line-height: 1.6;
  }
  a[href^='tel'] {
    pointer-events: none;
    text-decoration: none;
  }
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }
  .fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3%;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease-out,
      transform 0.3s ease-out;
    z-index: var(--z_upper);
    --alpha-brd: 1;
    --alpha-bg: 0.3;
    --backdrop-filter: blur(7px);
    &.fixed {
      position: fixed;
      transform: translateY(-100%);
    }
    &__wrap {
      display: grid;
      grid-template-columns: 430px 1fr;
    }
    &__logo {
      --backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 192px;
      height: 101px;
      margin-inline-start: 58px;
      backdrop-filter: var(--backdrop-filter);
      background: rgba(226, 226, 226, 0);
      border-radius: 16px 16px 16px 16px;
      > a {
        width: 131px;
        height: 74px;
        background: url('../images/common/logo.png') no-repeat;
        background-size: 100% 100%;
        background-position: center;
        font-size: 0;
        z-index: 10;
      }
    }
    &__content {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      &__nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 47px;
        backdrop-filter: var(--backdrop-filter);
        background: rgba(226, 226, 226, 0.3);
        border-radius: 16px 16px 16px 16px;
        font-family: var(--fontOpen);
        ul {
          display: flex;
          align-items: center;
          grid-gap: 8px;
          li {
            a {
              display: block;
              padding: 13px 17px;
              font-size: rem(15);
              line-height: 1.4;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    background: #fff;
    &__wrap {
      display: grid;
      grid-template-columns: pw(416) 1fr;
      grid-template-rows: 320px 232px;
      padding: pw(90) pw(60) 0;
    }
    &__ttl {
      margin-block-end: 16px;
      font-family: var(--fontBodo);
      font-size: rem(20);
      font-weight: bold;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      padding-inline-start: 22px;
      font-size: rem(15);
      line-height: 24px;
      a {
        text-decoration: underline;
      }
    }
    &__social {
      display: flex;
      margin-block-start: 16px;
      grid-gap: 16px;
      li {
        width: 28px;
        height: 28px;
        a {
          display: block;
          height: 100%;
        }
      }
      &--linked {
        background-image: url('../images/common/linked.svg');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      &--youtube {
        background-image: url('../images/common/youtube.svg');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
    &__address {
      padding-inline-start: 120px;
      font-size: rem(15);
      line-height: 24px;
    }
    &__copyright {
      display: flex;
      align-items: center;
      padding-inline-start: 87px;
      border-top: 1px solid #999793;
      font-size: rem(12);
      line-height: 1.6;
    }
    .scrollToTop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #999793;
      &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 120px;
      }
      &--icon {
        width: 60px;
        height: 60px;
        margin-block-end: 10px;
        opacity: 0.15;
        animation: scaleX 10s ease-in-out infinite;
      }
      &--text {
        font-family: var(--fontOpen);
        font-size: rem(15);
        text-decoration: underline;
      }
    }
  }
  .main {
    cursor:
      url('../images/common/cusor.svg') 14 14,
      auto;
  }

  /* Exclude buttons from custom cursor */
  .main .c-btn,
  .main .c-btn * {
    cursor: pointer;
  }

  .rotate-in-down-left {
    animation: rotate-in-down-left 1s ease;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .header {
    &__logo {
      width: 192px;
      height: 101px;
      margin-inline-start: 20px;
      > a {
        width: 131px;
        height: 74px;
      }
    }
    &__menu {
      padding-right: 0;
      &__nav {
        padding: 10px 30px;
        ul {
          grid-gap: 8px;
          li {
            a {
              display: block;
              padding: 13px 17px;
              font-size: rem(15);
              line-height: 1.4;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    background: #fff;
    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: pcw(90) pcw(60) 0;
    }
    &__ttl {
      font-family: var(--fontBodo);
      font-size: rem(20);
      font-weight: bold;
    }
    &__contact {
      padding-inline-start: pcw(20);
      font-size: rem(15);
      line-height: 24px;
    }
    &__address {
      padding-inline-start: pcw(20);
      font-size: rem(15);
      line-height: 24px;
    }
    &__copyright {
      padding-inline-start: pcw(20);
      border-top: 1px solid #999793;
      font-size: 12px;
      line-height: 1.6;
    }
    .scrollToTop {
      border-top: 1px solid #999793;
      &__link {
        width: 120px;
      }
      &--icon {
        width: 60px;
        height: 60px;
        margin-block-end: 10px;
      }
      &--text {
        font-size: rem(15);
      }
    }
  }
}

@media (--sp) {
  body,
  button,
  td,
  th,
  input,
  select,
  textarea {
    font-size: rem(14);
    line-height: 1.7;
  }
  .show_pc {
    display: none !important;
  }
  .row {
    padding-inline: 40px;
  }
  .fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: vw(117); */
    /* background-color: #fff; */
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease-out;
    z-index: var(--z_upper);
    &__wrap {
      position: relative;
    }
    &__logo,
    &__content {
      flex-shrink: 0;
    }
    &__logo {
      --backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 132px;
      margin-block-start: 20px;
      margin-inline-start: 40px;
      backdrop-filter: var(--backdrop-filter);
      border-radius: 16px 16px 16px 16px;
      > a {
        width: 160px;
        height: 90px;
        background: url('../images/common/logo.png') no-repeat;
        background-size: 100% 100%;
        background-position: center;
        font-size: 0;
        z-index: 10;
      }
    }
    &__menu {
      position: absolute;
      top: 0;
      /* top: vw(117); */
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      background: var(--color_02);
      &__nav {
        padding: vw(162) vw(32) 0;
        overflow-y: auto;
        > ul {
          position: relative;
          width: 100%;
          > li {
            display: block;
            overflow: hidden;
            > a {
              position: relative;
              display: block;
              padding: 20px 30px;
              font-family: var(--fontOpen);
              font-size: rem(32);
              line-height: 48px;
              font-weight: 400;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }

    &__hamburger {
      position: absolute;
      top: 18px;
      right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      z-index: 9;
      width: 100px;
      height: 100px;
      backdrop-filter: var(--backdrop-filter);
      /* background: var(--color_03); */
      border-radius: 20px;
      border: 1px solid var(--color_01);
      .burger-lines {
        position: relative;
        width: vw(50);
        height: vw(30);
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: vw(2);
          background: var(--color_01);
          top: 0;
          left: 0;
          margin: auto;
          border-radius: vw(2);
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: vw(2);
          background: var(--color_01);
          bottom: 0;
          left: 0;
          margin: auto;
          border-radius: vw(2);
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: vw(50);
        height: vw(2);
        background: var(--color_01);
        transform: translateX(-50%);
        border-radius: vw(2);
        transition: opacity 0.7s ease-out;
      }
      &.open {
        .burger-lines {
          &:before {
            animation: ease 0.7s top forwards;
          }
          &:after {
            animation: ease 0.7s bottom forwards;
          }
        }
        &:after {
          opacity: 0;
        }
      }
      &.close {
        .burger-lines {
          &:before {
            animation: ease 0.7s topBack forwards;
          }
          &:after {
            animation: ease 0.7s bottomBack forwards;
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    background: #fff;
    &__wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 100px;
      padding: pw(90) pw(60) 0;
    }
    &__ttl {
      margin-block-end: px(16);
      font-family: var(--fontBodo);
      font-size: px(16);
      font-weight: bold;
    }
    &__contact {
      font-size: px(15);
      line-height: px(24);
      a {
        text-decoration: underline;
      }
    }
    &__social {
      display: flex;
      margin-block-start: px(16);
      grid-gap: px(16);
      li {
        width: px(28);
        height: px(28);
        a {
          display: block;
          height: 100%;
        }
      }
      &--linked {
        background-image: url('../images/common/linked.svg');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      &--youtube {
        background-image: url('../images/common/youtube.svg');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
    &__address {
      font-size: px(15);
      line-height: px(24);
    }
    &__copyright {
      padding-block-start: px(100);
      border-top: 1px solid #999793;
      font-size: px(10);
      line-height: 1.6;
    }
    .scrollToTop {
      display: flex;
      align-items: center;
      padding-block-end: px(100);
      &__link {
        display: flex;
        align-items: center;
        grid-gap: px(20);
      }
      &--icon {
        width: px(95);
        height: px(95);
        opacity: 0.15;
        animation: scaleX 10s ease-in-out infinite;
      }
      &--text {
        font-family: var(--fontOpen);
        font-size: px(15);
        text-decoration: underline;
      }
    }
  }
}
