include ../../utils/_mixin.pug


footer.footer#footer
  .footer__wrap
    .footer__top
      .footer__contact
        p.footer__ttl Let’s Stay in Touch
        a(href="mailto:contact@hb-aesthetics.com") contact@hb-aesthetics.com
      .footer__address
        p.footer__ttl Our address
        p.footer__text CALLE TERRES BLANQUES, 12
          br
          | 17740 VILAFANT (SPAIN)
          br
          | TEL. 
          a(href="tel:+(34)972547113") +(34) 972547113

    .footer__bottom
      p.footer__copyright &copy; 2025 by HB aesthetics
      .scrollToTop
        a(href="#root").scrollToTop__link.link__alpha
          .scrollToTop--icon 
          p.scrollToTop--jp Back to Top