include ../../utils/_mixin.pug


footer.footer#footer
  .footer__wrap#contact
      .footer__contact
        p.footer__ttl Let’s Stay in Touch
        a(href="mailto:contact@hb-aesthetics.com") contact@hb-aesthetics.com
        ul.footer__social
          li: a(href="https://www.linkedin.com/company/101183424/admin/dashboard/" target="_blank").footer__social--linked
          li: a(href="https://www.youtube.com/@hbaestheticsgroup" target="_blank").footer__social--youtube
      .footer__address
        p.footer__ttl Our address
        p.footer__text CALLE TERRES BLANQUES, 12
          br
          | 17740 VILAFANT (SPAIN)
          br
          | TEL. 
          a(href="tel:+(34)972547113") +(34) 972547113
      .footer__copyright 
        p &copy; 2025 by HB aesthetics
      .scrollToTop
        a(href="#root").scrollToTop__link.link__alpha
          figure.scrollToTop--icon
            +img('images/common/backtop.svg').fit
          p.scrollToTop--text Back to Top