include ../../utils/_mixin.pug

header.header#header
  .header__wrap
    .header__logo
      a(href="/"+subDirectory).link__alpha logo
    .header__content
      .header__menu
        nav.header__menu__nav
          ul
            li: a(href="#").link__alpha FUSION MESO
            li: a(href="#").link__alpha EKSEPTION
            li: a(href="#").link__alpha CLIENT AREA