extends ./utils/_base.pug

block append stylesheet
  link(rel="stylesheet", href=assetPath + 'css/index.css')


block main
  .mv
    .mv__wrapper#scene.scene
      - var n = 1;
      while n < 5
        div(class=`layer mv__item mv__item${n}` data-depth=`${n*0.4}`)
          .mv__item__inner
            +img(`images/common/mv-img_0${n}.png`, '').fit
        - n++;
      .mv__bg
        .mv__mask01
          +img('images/common/mv-bg-cloud3.png', 'Cloud').fit
    .mv__item__text
      .mv__item__text__inner
        p PROFESSIONAL SKINCARE &amp;
        p AESTHETIC MEDICINE LABORATORY

  .section.b-heath
    .section__inner
      .section__heading
        h2.section__heading__text health, beauty &amp; aesthetics
      .section__content
        p We are a global manufacturer with 5.000 sqm headquarters in Spain and a strong international presence across Europe, Asia, the Middle East, and the Americas. We combine science, innovation, and expertise to deliver advanced solutions for skincare professionals and aesthetic medicine specialists.
        p Our mission is to improve skin health worldwide by developing safe, effective, and innovative products for our own brands or act as a contract manufacturer with the highest standards of quality and regulatory compliance.
  .section.b-vision.-sticky
    .section__inner
      .section__heading
        h2.section__heading__text Our vision of the future
      .section__content
        p We are committed to redefining the future of professional aesthetics by combining science, safety and sustainability. Our expanding portfolio of injectables, sterile cosmetics, and at-home products supports both aesthetics and skin health professionals with high-quality, effective solutions.
        p Beyond innovation, we empower professionals through education, business development, and digital connections, all while ensuring eco-responsibility guides everything we do.
      .b-vision__ill
        figure.b-vision__ill__item01
          +img('images/common/pen-01.png', alt="").fit
        figure.b-vision__ill__item02
          +img('images/common/pen-02.png', alt="").fit

  .section.b-discover
    .section__inner.row
      .section__heading
        h2.section__heading__text.intersect-elem.rotate-in-down-left Discover our brands
      .section__content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tenetur iste neque ex. Optio tempore accusamus voluptates doloribus maiores cumque maxime porro aliquam, at illum. Totam alias voluptates dolores fugit!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tenetur iste neque ex. Optio tempore accusamus voluptates doloribus maiores cumque maxime porro aliquam, at illum. Totam alias voluptates dolores fugit!